---
# SPDX-FileCopyrightText: 2014-2025 The VILLASframework Authors
# SPDX-License-Identifier: Apache-2.0

stages:
  - test
  - build
  - deploy

# Stage: test
##############################################################################

test:reuse:
  stage: test
  needs: []
  image:
    name: fsfe/reuse:latest
    entrypoint: [""]
  script:
    - reuse lint

# Stage: build
##############################################################################

build:docker:
  stage: build
  image: docker
  script:
  - docker build --tag ${CI_REGISTRY_IMAGE}:${CI_COMMIT_BRANCH} .
  tags:
  - docker-image-builder

build:precommit:
  stage: build
  image: python:3.11
  before_script:
  - pip install .[dev]
  script:
  - pre-commit run --all-files

build:test:
  stage: build
  image: python:3.11
  services:
  - rabbitmq:latest
  before_script:
  - pip3 install .[dev]
  script:
  - pytest -v

build:dist:
  stage: build
  image: python:3.11
  script:
  - python3 setup.py sdist
  artifacts:
    paths:
      - dist/

# Stage: deploy
##############################################################################

deploy:docker:
  stage: deploy
  before_script:
  - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
  script:
  - docker push ${CI_REGISTRY_IMAGE}:${CI_COMMIT_BRANCH}
  tags:
  - docker-image-builder
