# SPDX-FileCopyrightText: 2014-2025 The VILLASframework Authors
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=VILLAScontroller
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/bin/villas-ctl -c /etc/villas/controller/config.yaml daemon

[Install]
WantedBy=multi-user.target
